.place-order{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 100px;
    gap: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.place-order-left{
    width: 100%;
    max-width: max(30%,100px);
}
.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: solid 1px #c5c5c5;
    border-radius: 4px;
    outline-color: tomato;
}
.place-order-left .multi-filds{
    display: flex;
    gap: 20px;
}
.place-order-right{
    width: 100%;
    max-width: max(40%,500px);
}
.place-order .place-order-right button{
    margin-top: 30px;
}
@media (max-width: 750px) {
    .place-order{
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
        gap: 40px;
        margin-top: 60px;
    }

    .place-order-left,
    .place-order-right{
        max-width: 100%;
    }

    .place-order-left .multi-filds{
        flex-direction: column;
        gap: 15px;
    }
}
