.explore-menu {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu h2 {
  font-weight: 500;
  color: #262626;
  margin-left: 5.5%;
}

.explore-menu-text {
  max-width: 60%;
  margin-left: 5.5%;
}

.explore-menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin: 30px 0px;
  overflow-x: scroll;
  padding-bottom: 10px;
  margin-left: 5%;
}

.explore-menu-list-item {
  min-width: 180px;
  flex-shrink: 0;
}
.explore-menu-list img{
    width: 7.5vw;
    min-width: 80px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
}
.explore-menu-list-item p{
    cursor: pointer;
    color: #747474;
    margin-top: 20px;
    font-size: max(1.4vw 16);
}
.explore-menu hr{
  background-color: #747474;
  border: none;
  height: 2px;
  margin-left: 5.5%;
  margin-right: 5.5%;
}
.explore-menu-list-item img.active{
  border: 4px solid tomato;
  padding: 2px;
}
@media(max-width:1050px){
  .explore-menu-text{
    max-width: 100%;
    font-size: 14Px;
  }
}