.app-download{
    margin: auto auto;
    margin-top: 100px;
    font-size: max(3vw,20px);
    text-align: center;
    font-weight: 500;
}
.app-download-platfroms{
    display: flex;
    justify-content: center;
    gap: max(2vw,10px);
    margin-top: 30px;
}
.app-download-platfroms img{
    max-width: 180px;
    transform: 0.5s;
    cursor: pointer;
}
.app-download-platfroms img:hover{
    transform: scale(1.05);
}