.login-popup{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}
.login-popup-titel{
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
}
.login-popup-titel img{
    width: 16px;
    cursor: pointer;
}
.login-popup-input{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-input input{
    outline: none;
    padding: 8px;
    border-radius: 4px;
    border: solid 1px #c9c9c9;
}
.login-popup-container button{
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    cursor: pointer;
    font-size: 15px;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -11px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup-container p span{
    font-weight: 500;
    color: tomato;
    cursor: pointer;
}
@media (max-width: 750px) {
    .login-popup-container{
        width: 90%;
        padding: 20px;
        gap: 20px;
        font-size: 13px;
    }

    .login-popup-titel img{
        width: 14px;
    }

    .login-popup-container button{
        font-size: 14px;
        padding: 9px;
    }
}
