.food_display {
  margin-top: 30px;
}

.food_display h2 {
  font-size: max(2vw, 24px);
  margin-left: 5%;
  font-weight: 600;
}

.food-display-list {
  margin-left: 5%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 30px;
}
.food-item-img-container{
  position: relative;
}
.food-item-img-container img.add{
  width: 35px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}
.food-iten-counter{
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  bottom: 15px;
  right: 15px;
  border-radius: 50px;
  background-color: white;
  padding: 6px;
}
.food-iten-counter img{
  width: 30px;
}
