.header{
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    align-items: start;
    left: 6vw;
    bottom: 20%;
    flex-direction: column;
    max-width: 50%;
    gap: 1.5vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    font-size: max(4.5vw,22px);
    color: white;
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    font-weight: 500;
    background-color: white;
    border-radius: 50px;
    padding: 1vw 2.3vw;
    color: #747474;
    cursor: pointer;
}
@media (max-width :1050px){
    
    .header-contents{
        
        max-width: 45%;
    }
}
@media (max-width :750px){
    
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}



